<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%= tb_page_title() %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
  <div class="container">

    <% if flash[:notice] %>
      <div class="alert alert-info alert-dismissible">
        <%= flash[:notice] %>
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
    <% elsif flash[:error] %>
      <div class="alert alert-danger alert-dismissible">
        <%= flash[:error] %>
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
    <% end %>

    <%= content_for?(:body) ? yield(:body) : yield %>

  </div>
</body>
</html>
