<%= tb_form_for [:admin, @tb_redirect], :remote => true, :data => {:errors => :inline, :success => admin_tb_redirects_path} do |f| %>
  
  <%= tb_form_errors(f.object, :base) %>

  <%= f.tb_text_field :source %>

  <%= f.tb_text_field :destination %>

  <%= f.tb_save_buttons('Redirect', admin_tb_redirects_path) %>

<% end %>

<script>
  $(document).ready(app.admin.tb_redirects.edit);
</script>
