<% content_for :data_controls do %>
  <%= render :partial => '/layouts/admin/search', :locals => {:search_path => admin_tb_redirects_path } %>
  <%= link_to "New Redirect", new_admin_tb_redirect_path, :class => "btn btn-primary", :title => "New Redirect" %>
<% end %>

<% content_for :detail do %>
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Source</th>
          <th>Destination</th>
          <th>Created By</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% @tb_redirects.each do |tb_redirect| %>
          <tr>
            <td><%= link_to tb_redirect.source, tb_redirect.source, :target => :blank %></td>
            <td><%= link_to tb_redirect.destination, tb_redirect.destination, :target => :blank %></td>
            <td><%= created_by_for_tb_redirect(tb_redirect.created_by) %></td>
            <td class="table-actions">
              <%= link_to 'Details', admin_tb_redirect_path(tb_redirect), :class => 'btn btn-default btn-sm' %>
              <%= link_to 'Edit', edit_admin_tb_redirect_path(tb_redirect), :class => 'btn btn-default btn-sm' %>
              <%= link_to 'Delete', admin_tb_redirect_path(tb_redirect), :method => :delete, :class => 'btn btn-danger btn-sm' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= will_paginate @tb_redirects, :renderer => BootstrapPagination::Rails %>

  <script>
    $(document).ready(app.admin.tb_redirects.index);
  </script>

<% end %>
