<% content_for :data_controls do %>
  <%= link_to 'Edit', edit_admin_tb_redirect_path(@tb_redirect), :class => 'btn btn-default' %>
  <%= link_to "Back", admin_tb_redirects_path, :class => "btn btn-default" %>
<% end %>

<dl class="dl-horizontal">
  <dt>Owner Type:</dt>
  <dd><%= @tb_redirect.owner_type %></dd>
  <dt>Owner:</dt>
  <dd><%= @tb_redirect.owner_id %></dd>
  <dt>Source:</dt>
  <dd><%= @tb_redirect.source %></dd>
  <dt>Destination:</dt>
  <dd><%= @tb_redirect.destination %></dd>
  <dt>Created By:</dt>
  <dd><%= @tb_redirect.created_by %></dd>
</dl>

<script>
  $(document).ready(app.admin.tb_redirects.show);
</script>
